/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

.container {
	@apply px-4 lg:px-0;
}

#hero ::-webkit-scrollbar {
	/* Customize the scrollbar width */
	width: 5px;
	border-radius: 5px;
}

#her0 ::-webkit-scrollbar-track {
	/* Customize the scrollbar track */
	background-color: white;
}

#hero ::-webkit-scrollbar-thumb {
	/* Customize the scrollbar thumb */
	background-color: white;
}

body {
	@apply bg-background text-foreground font-sans;
}

h1 {
	@apply font-centuryRoman font-semibold;
}

a {
	@apply font-montserrat font-semibold;
}
p {
	@apply font-montserrat italic font-light leading-[1.2];
}

img.icon {
	@apply w-[35px] h-[35px] md:w-[45px] md:h-[45px];
}

img.img {
	/* @apply border-4 border-white; */
}

section:not(#hero) {
	@apply py-20;
}

button.button {
	@apply rounded-none border-white border-2 max-lg:w-full max-lg:mt-4  py-4 px-10 lg:py-6 lg:px-16 text-xl text-white font-semibold;
}
button.button.gold {
	@apply rounded-none bg-[#E1C678] border-[#E1C678] border-2 max-lg:w-full max-lg:mt-4  py-4 px-10 lg:py-6 lg:px-16 text-xl text-white font-semibold;
}

#site-navigation .menu li a {
	@apply text-[20px] text-white px-[5px];
}

#mobile-nav .menu li a {
	@apply text-[20px] text-white px-[5px];
}

.footer-menu li a {
	@apply text-white text-xl md:text-[24px]  font-normal;
}

.book-container .book-row {
	@apply !mx-0;
}
.book-widget-size-all {
	@apply !shadow-none;
}

.splide__arrow--prev {
	@apply !left-0;
}
